---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">About Me</h3>
<br>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
 <p style="font-size: 20pt;">

  Hello, I am a 1st year MS student at IIT Bombay working in Systems domain with the supervision of Prof Biswabandan Panda
  working in CASPER group. I come from Patna, Bihar and completed my Undergraduate in Information Technology from Techno India, Kolkata.
  My research interests are broadly in Computer Architecture and Operating Systems.
  
 </p>

 <h3> Educational Background </h3>

<!--   
 <section id="experience" class="home-section wg-experience  "  >
  <div class="home-section-bg " >
    
  </div>
   <div class="container">

   
     <div class="row  ">
     
       
         <div class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
           <h1 class="mb-0">Experience</h1>
           
         </div>
     
<div class="col-12 col-lg-8">

 <div class="row experience">
   
   <div class="col-auto text-center flex-column d-none d-sm-flex">
     <div class="row h-50">
       <div class="col ">&nbsp;</div>
       <div class="col">&nbsp;</div>
     </div>
     <div class="m-2">
       <span class="badge badge-pill border exp-fill">&nbsp;</span>
     </div>
     <div class="row h-50">
       <div class="col border-right">&nbsp;</div>
       <div class="col">&nbsp;</div>
     </div>
   </div>
   
   <div class="col py-2">
     <div class="card">
       <div class="card-body">

             <div class="section-subheading card-title exp-title text-muted my-0">Postdoctoral Scholar</div>
             <div class="section-subheading card-title exp-company text-muted my-0"><a href="https://www.northwestern.edu/" target="_blank" rel="noopener">Northwestern University</a></div>
             <div class="text-muted exp-meta">
               Jan 2022 –
               
                 Present
               
               
                 <span class="middot-divider"></span>
                 <span>USA</span>
               
             </div>

         
       </div>
     </div>
   </div>
 </div>
 
 <div class="row experience">
   
   <div class="col-auto text-center flex-column d-none d-sm-flex">
     <div class="row h-50">
       <div class="col border-right">&nbsp;</div>
       <div class="col">&nbsp;</div>
     </div>
     <div class="m-2">
       <span class="badge badge-pill border ">&nbsp;</span>
     </div>
     <div class="row h-50">
       <div class="col border-right">&nbsp;</div>
       <div class="col">&nbsp;</div>
     </div>
   </div>
   
   <div class="col py-2">
     <div class="card">
       <div class="card-body">

             <div class="section-subheading card-title exp-title text-muted my-0">Teaching Assistantsip</div>
             <div class="section-subheading card-title exp-company text-muted my-0"><a href="https://iitk.ac.in/" target="_blank" rel="noopener">Indian Institute of Technology Kanpur</a></div>
             <div class="text-muted exp-meta">
               Dec 2015 –
               
                 Dec 2022
               
               
                 <span class="middot-divider"></span>
                 <span>India</span>
               
             </div>

         
       </div>
     </div>
   </div>
 </div>
 
 <div class="row experience">
   
   <div class="col-auto text-center flex-column d-none d-sm-flex">
     <div class="row h-50">
       <div class="col border-right">&nbsp;</div>
       <div class="col">&nbsp;</div>
     </div>
     <div class="m-2">
       <span class="badge badge-pill border ">&nbsp;</span>
     </div>
     <div class="row h-50">
       <div class="col ">&nbsp;</div>
       <div class="col">&nbsp;</div>
     </div>
   </div>
   
   <div class="col py-2">
     <div class="card">
       <div class="card-body">

             <div class="section-subheading card-title exp-title text-muted my-0">Assistant Programmer</div>
             <div class="section-subheading card-title exp-company text-muted my-0"><a href="https://cbi.gov.in/" target="_blank" rel="noopener">Central Bureau of Investigation</a></div>
             <div class="text-muted exp-meta">
               Feb 2013 –
               
                 Dec 2015
               
               
                 <span class="middot-divider"></span>
                 <span>India</span>
               
             </div>

         
       </div>
     </div>
   </div>
 </div>
 
 
</div> -->
<div class="col-md-7">
  <ul class="ul-edu fa-ul mb-0">
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <p class="course" style="line-height: 0.5;">PhD in Android Security, Dec 2015 - Dec 2022</p>
        <p class="institution"style="position: relative;top:-60px;">Indian Institute of Technology Kanpur</p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <p class="course">M.Tech. in Information Technology, 2012</p>
        <p class="institution">Indian Institute of Technology Roorkee</p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <p class="course">Master of Computer Application, 2010</p>
        <p class="institution">Graphic Era Institute of Technology Dehradun (Uttarakhand Technical University)</p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <p class="course">B.Sc. in Computer Science, 2007</p>
        <p class="institution">Dr. Bhimrao Ambedkar University, Agra</p>
      </div>
    </li>
    
  </ul>
</div>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
