---
layout: archive
---

{{ content }}

<h3 style="margin-top: 0;">About Me</h3>
<hr style="width:1000px; height: inherit; color: black; position: relative; top:-20px" >

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
 <p style="font-size: 13pt;width:1000px;margin-top: 0;">
  Hello, I am a 1st year MS student in <a href="https://www.cse.iitb.ac.in/">CSE Department</a> at IIT Bombay. 
  I come from Patna, Bihar and have completed my Undergraduate in Information Technology from Techno India, Kolkata.
  I love learning about systems/components present at the lowest layer of abstraction of the compute stack, right from Compilers to the Processors. 
  My research interests include topics related to Computer Architecture and Operating Systems. My current work is focused on evaluating various
  Microarchitectural Security threats and its mitigation, under the supervision of Prof. <a href="https://www.cse.iitb.ac.in/~biswa">Biswabandan Panda</a> as a part of <a href="https://casper-iitb.github.io/">CASPER</a> Research group.
 </p>

 <p style="font-size: 13pt;width:1000px">
  Besides academics, I love following world geopolitics, cricket and chess. I also firmly believe in sustainable development of the planet
  Earth through education and awareness, so that we can curb the effects of climate change.
  </p>
  <i style="text-align: right; font-size:15px;">“I’m sure the moment we start behaving as if we were in an emergency, we can avoid climate and ecological catastrophe.” - Greta Thunberg</i>



<h3> Educational Journey </h3>
 <hr style="width:1000px; color: black;">


<div class="col-md-7">
  <ul class="ul-edu fa-ul mb-0">
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course">MS by Research in Computer Science</p></strong>
        <i class="fa-li fas fa-calendar-alt" style="position:relative;top:-25px"></i>
        <p class="course" style="position: relative;top:-80px;">2023 - *</p>
        <p class="institution"style="position: relative;top:-100px;"><a href="https://www.iitb.ac.in">Indian Institute of Technology, Bombay</a></p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course">B.Tech in Information Technology</p></strong>
        <i class="fa-li fas fa-calendar-alt" style="position:relative;top:-25px"></i>
        <p class="course" style="position: relative;top:-80px;">2016 - 20</p>
        <p class="institution"style="position: relative;top:-100px;"><a href="https://www.ticollege.ac.in/">Techno Main Salt Lake, Kolkata</a></p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course">Higher Secondary School</p></strong>
        <i class="fa-li fas fa-calendar-alt" style="position:relative;top:-25px"></i>
        <p class="course" style="position: relative;top:-80px;">2014 - 16</p>
        <p class="institution"style="position: relative;top:-100px;"><a href="http://davbsebpatna.org/">DAV Public School</a><!--<i class="fa-li fas fa-external-link-alt" style="position: relative;right;">--></i></p>
        
      </div>
    </li>
    
  </ul>
</div>

<h3> Career Trip </h3>
 <hr style="width:1000px; color: black;">
<div class="col-md-7">
  <ul class="ul-edu fa-ul mb-0">
    
    <li>
      <i class="fa-li fas fa-briefcase"></i>
      <div class="description">
        <strong><p class="course"><a href="https://www.wipro.com/">Wipro Pvt. Ltd.</a></p></strong>
        <!--<i class="fa-li fas fa-calendar-alt" style="position:relative;top:-25px"></i>-->
        <p class="institution"style="position: relative;top:-80px;">Project Engineer, 2020 - 22</p>
      </div> 
    </li>   
  </ul>
</div>
<br>
<br>
<h3> Credit Courses Taken at IITB</h3>
 <hr style="width:1000px; color: black;">
<div class="col-md-7">
  <ul class="ul-edu fa-ul mb-0">
    
    <li>
      <i class="fa-li fas fa-clipboard"></i>
      <div class="description">
        <strong><p class="course">Advanced Computer Architecture**</p></strong>
        <p class="institution"style="position: relative;top:-20px;">Autumn' 23</p>
      </div> 
    </li>
    
    <li>
      <i class="fa-li fas fa-clipboard"></i>  
      <div class="description">
        <strong><p class="course">Design & Engineering of Computer Systems**</p></strong>
        <p class="institution"style="position: relative;top:-20px;">Autumn' 23</p>
      </div> 
    </li>   
  </ul>
</div>
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
