---
layout: archive
---

{{ content }}

<h3 class="hh">About Me</h3>
<hr style="width:1000px; height: inherit; color: black;">

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
 <p style="font-size: 15pt;width:1000px">

  Hello, I am a 1st year MS student at IIT Bombay broadly working in Microarchitectural Security, as a part of CASPER Research group advised by Prof. Biswabandan Panda. 
  I come from Patna, Bihar and have completed my Undergraduate in Information Technology from Techno India, Kolkata.
  My research interests are broadly in Computer Architecture and Operating Systems.
  
 </p>

 <section id="education" class="mt-5">
  <h3 class="display-5">Education</h3>
  <hr>
    <div class="row mb-4" >
<div class="col-sm-12 col-md-7" style="font-weight: bold;  font-size: 1rem;"> Ph.D. | Computer Science and Automation</div>
<div class="col-sm-12 col-md-5" style="text-align:right; font-size: 1rem;"><i class="fas fa-calendar-alt"></i> 2021 - Now</div>
<div class="col-sm-12 col-md-12 mb-2" style="font-size: 1.2rem;"> Indian Institute of Science, Bengaluru</div>
<!--div class="col-sm-12 col-md-12 mb-2" style="font-size: 1rem;">  CGPA :  <span class="badge badge-primary" style="font-size: 1rem;"> 8.7 / 10</span></div-->
<div class="col-sm-12 col-md-12 mb-2"> </div>
<div class="col-sm-12 col-md-12">
  </div>
</div>
          <div class="row mb-4" >
<div class="col-sm-12 col-md-7" style="font-weight: bold;  font-size: 1rem;"> Masters | Computer Science and Automation</div>
<div class="col-sm-12 col-md-5" style="text-align:right; font-size: 1rem;"><i class="fas fa-calendar-alt"></i> 2018 - 2021</div>
<div class="col-sm-12 col-md-12 mb-2" style="font-size: 1.2rem;"> Indian Institute of Science, Bengaluru</div>
<!--div class="col-sm-12 col-md-12 mb-2" style="font-size: 1rem;">  CGPA :  <span class="badge badge-primary" style="font-size: 1rem;"> 8.7 / 10</span></div-->
<div class="col-sm-12 col-md-12 mb-2"> </div>
<div class="col-sm-12 col-md-12">
  </div>
</div>
          <div class="row mb-4" >
<div class="col-sm-12 col-md-7" style="font-weight: bold;  font-size: 1rem;"> Bachelors | Computer Science and Engineering</div>
<div class="col-sm-12 col-md-5" style="text-align:right; font-size: 1rem;"><i class="fas fa-calendar-alt"></i> 2012 - 2016</div>
<div class="col-sm-12 col-md-12 mb-2" style="font-size: 1.2rem;"> The National Institute of Engineering, Mysuru</div>
<!--div class="col-sm-12 col-md-12 mb-2" style="font-size: 1rem;">  CGPA :  <span class="badge badge-primary" style="font-size: 1rem;"> 9.95 / 10</span></div-->
<div class="col-sm-12 col-md-12 mb-2"> </div>
<div class="col-sm-12 col-md-12">
                  <i class="fas fa-trophy"></i> Gold medalist - Batch 2016 <br/>
              </div>
</div>
    </section>

<!-- <h3> Educational Background </h3>
 <hr style="width:1000px; color: black;">


<div class="col-md-7">
  <ul class="ul-edu fa-ul mb-0">
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course" style="line-height: 0.5;">MS in Computer Science</p></strong>
        <div class="col-sm-12 col-md-5" style="text-align:r; font-size: 1rem;"><i class="fas fa-calendar-alt"></i> 2023 - Now</div>
        <p class="institution"style="position: relative;top:-20px;">Indian Institute of Technology, Bombay</p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course">B.Tech. in Information Technology, 2020</p></strong>
        <p class="institution"style="position: relative;top:-25px;">Techno Main Salt Lake, Kolkata</p>
      </div>
    </li>
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course">Higher Secondary School</p></strong>
        <p class="institution"style="position: relative;top:-25px;">DAV Public School</p>
      </div>
    </li>
    
  </ul>
</div>-->

<h3> Experience </h3>
 <hr style="width:1000px; color: black;">
<div class="col-md-7">
  <ul class="ul-edu fa-ul mb-0">
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course" style="line-height: 0.5;">Wipro Pvt. Ltd.</p></strong>
        <p class="institution"style="position: relative;top:-20px;">Project Engineer, 2020-22</p>
      </div> 
    </li>   
  </ul>
</div>

<h3> Credit Courses Taken</h3>
 <hr style="width:1000px; color: black;">
<div class="col-md-7">
  <ul class="ul-edu fa-ul mb-0">
    
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course" style="line-height: 0.5;">Advanced Computer Architecture**</p></strong>
        <p class="institution"style="position: relative;top:-20px;">Autumn' 23</p>
      </div> 
    </li>
    <li>
      <i class="fa-li fas fa-graduation-cap"></i>
      <div class="description">
        <strong><p class="course" style="line-height: 0.5;">Design & Engineering of Computer Systems**</p></strong>
        <p class="institution"style="position: relative;top:-20px;">Autumn' 23</p>
      </div> 
    </li>   
  </ul>
</div>
{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
